@font-face {
    font-family: "Flama Condensed Bold";
    src: url(/fonts/Flama-CondensedBold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: Roboto, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1 {
    font-family: Flama Condensed Bold, sans-serif;
    text-transform: uppercase;
}

.announcement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 40px;
    background-color: rgb(34, 155, 136);
    text-align: center;
    color: white;
}

.announcement-text {
    margin: 0;
    font-weight: bold;
}

.announcement-button {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 14px;
}

.announcement-button:hover {
    background-color: #ececec;
}


@media screen and (max-width: 768px) {
    .announcement {
        padding: 8px 15px;
        
    }

    .announcement-text {
        font-size: 14px;
    }
}

.header {}

.header-bg-video {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    object-fit: cover;
}

.header-text {
    padding: 20px;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.header-text h1 {
    padding: 0;
    margin: 0;
    color: white;
}

.header-text span {
    font-family: Flama Condensed Bold, sans-serif;
    display: inline-block;
    position: relative;
}

.header-text span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 6px;
    background-color: currentColor;
    animation: underline-grow 1.5s ease-in-out forwards;
    animation-delay: 0.5s;
}

@media screen and (max-width: 768px) {
    .header-text {
        font-size: 50px;
        text-align: center;
    }
}

.scroll-button {
    position: absolute;
    bottom: 20px;
    left: 49%;
    right: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border: none;
    text-transform: uppercase;
    font-family: Flama Condensed Bold, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: scroll-bounce 1s infinite ease-in-out;
    gap: 5px;
}

@keyframes underline-grow {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes scroll-bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

.about {
    padding: 40px 40px;
}

.about h1 {
    font-size: 60px;
    margin: 0;
}

.about p {
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    .about {
        padding: 40px 20px;
    }

    .about h1 {
        font-size: 50px;
    }

    .about p {
        font-size: 20px;
    }
}

.color-bar {
    height: 20px;
    width: 100px;
    background-color: black;
    margin-bottom: 20px;
}

.help {
    padding: 40px 40px;
    background-color: black;
    color: white;
}

@media screen and (max-width: 768px) {
    .help {
        padding: 40px 20px;
    }
}

.help h1 {
    font-size: 60px;
    margin: 0;
}

.help p {
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    .help h1 {
        font-size: 50px;
    }

    .help p {
        font-size: 20px;
    }
}

.help .color-bar {
    background-color: white;
}

.hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

footer {
    padding: 10px 40px;
    color: white;
    background-color: #201c1c;
}

@media screen and (max-width: 768px) {
    footer {
        padding: 10px 20px;
    }
}

footer p {
    margin: 0;
}

footer a {
    color: #b0aeae;
}

.privacy {
    font-size: 13px;
    margin-top: 0;
    color: #b0aeae;
}

.help-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 40px;
    margin-top: 30px;
}

@media (max-width: 900px) {
    .help-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .help-container {
        grid-template-columns: 1fr;
    }
}

.help-title {
    font-size: 22px;
    font-weight: bold;
}

.help-text {
    font-size: 16px;
}

.help-item h2 {
    font-size: 30px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    width: fit-content;
    padding: 5px 10px;
}

.help-item p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .help-item h2 {
        font-size: 22px;
    }
    
    .help-item p {
        font-size: 20px;
    }
}

.contact {
    padding: 40px 40px;
    background-color: white;
    color: black;
}

@media screen and (max-width: 768px) {
    .contact {
        padding: 40px 20px;
    }
}

.contact h1 {
    font-size: 60px;
    margin: 0;
}

.contact p {
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    .contact h1 {
        font-size: 50px;
    }

    .contact p {
        font-size: 20px;
    }
}

.contact .color-bar {
    background-color: black;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 300px;
}

.contact-item:hover {
    background-color: #ececec;
}

.contact-item span {
    font-size: 22px;
    color: black;
    text-decoration: underline;
}

.meeting {
    padding: 40px 40px;
    background-color: rgb(34, 155, 136);
    color: white;
}

@media screen and (max-width: 768px) {
    .meeting {
        padding: 40px 20px;
    }
}

.meeting h1 {
    font-size: 60px;
    margin: 0;
}

.meeting p {
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    .meeting h1 {
        font-size: 50px;
    }

    .meeting p {
        font-size: 20px;
    }
}

.meeting .color-bar {
    background-color: white;
}

.meeting-info-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.meeting-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.meeting-info img {
    height: 40px;
    width: 40px;
}

.meeting-info span {
    font-size: 22px;
    color: white;
}